version: "3.8"

services:
  web:
    build: .
    container_name: learninghub_web
    ports:
      - "8080:80"
    depends_on:
      - db
    volumes:
      - .:/var/www/html
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: learning_hub
      DB_USER: root
      DB_PASS: root

  db:
    image: mysql:8
    container_name: learninghub_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: learning_hub
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
